body
    +Montserrat
    font-size: 14px
    line-height: 24px
    color: $darkshade75
    
.title, .title-h2, .subtitle
    +Quicksand
    color: $darkshade100

.title-h2,
    font-size: 1.37em
    line-height: 24px
.title
    font-size: 1.75em
    line-height: 30px
.subtitle
    font-size: 0.86em
    line-height: 15px
    text-transform: uppercase
    padding-bottom: 5px



.span-otsyp
    padding: 15px 0
    display: block