.bullet-list
    &__item
        font-size: 0.9em
        position: relative
        margin-bottom: 10px
        padding-left: 20px
        line-height: 20px
        max-width: 261px
        width: 100%
        &::before
            position: absolute
            content: ''
            width: 10px
            height: 10px
            background: $darkshade25
            top: 4px
            left: 0
            border-radius: 50%