.drop-list
    position: relative
    +Montserrat
    &__title
        font-weight: bold
        color: $darkshade100
        margin-bottom: 5px
    &__arrow
        position: relative
        display: flex
        align-items: center
        height: 44px
        text-transform: uppercase
        font-weight: bold
        &::after
            position: absolute
            content: ''
            width: 44px
            height: 44px
            background: url('../img/expand_more.svg')            
            background-repeat: no-repeat
            background-position: center
            top: 0
            right: 0
            transition: 0.5s
    &__box
        height: 0
        overflow: hidden
        &-item
            max-width: 266px
            width: 100%
            &__checkbox
                position: relative
                padding-left: 29px
                display: flex
                align-items: flex-start
                flex-direction: column
                color: $darkshade50
                margin-bottom: 10px
                font-size: 14px
                &::before
                    position: absolute
                    content: ''
                    width: 20px
                    height: 20px
                    border: 1px solid $darkshade25
                    border-radius: 4px
                    left: 0
                    top: -2px
                &::after
                    position: absolute
                    content: ''
                    background: url('../img/vector.svg')            
                    background-repeat: no-repeat
                    background-position: center
                    width: 20px
                    height: 20px
                    left: 1px
                    top: -3px
                    opacity: 0
                    transition: 0.2s
                    
input[type='checkbox']:checked + .drop-list__box-item__checkbox
    &::before
        border-color: $purple
    &::after
        opacity: 1

input[type='checkbox']:checked 
    ~ .drop-list__box
        height: auto
        padding-top: 2px
    ~ label > .drop-list__arrow
        &::after
            transform: rotate(180deg)
    