.dropdown
    position: relative
    
    &__box
        position: absolute
        +Montserrat
        width: 100%
        overflow: hidden
        padding: 7px 7px 0 15px
        margin-top: -2px
        height: 0
        z-index: 4
        transition: 0.2s
        &-item
            display: flex
            justify-content: space-between
            margin-bottom: 7px    
            align-items: center
            &__text
                text-transform: uppercase
                font-weight: bold
                color: $darkshade100
    &__calc
        display: flex
        align-items: center
        width: 92px
        justify-content: space-between
        color: $darkshade100
        font-weight: bold
        &-btn
            width: 30px
            height: 30px
            display: flex
            align-items: center
            justify-content: center
            color: $darkshade25
            border: 1px solid $darkshade25
            border-radius: 22px
            background: none

input[type='checkbox']:checked ~ .dropdown__box
    height: 19vh
    background: #ffffff
    border: 1px solid $darkshade25
    