.radio-btn
    &__gender
        position: relative
        padding-left: 30px
        &::before
            position: absolute
            content: ''
            width: 20px
            height: 20px
            border-radius: 10px
            border: 1px solid $darkshade50
            left: 0
            top: 0
        &::after
            position: absolute
            content: ''
            background: $purple
            width: 12px
            height: 12px
            border-radius: 10px
            left: 5px
            top: 5px
            opacity: 0

input[type='radio']:checked + .radio-btn__gender
    &::before
        border-color: $purple
    &::after
        opacity: 1
            